* { 
  box-sizing: border-box; 
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: Tomato;
}

header.masthead {
  position: relative;
  background: url("../img/bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}




#roundedPicture {
  margin-bottom: 1rem!important;
  border-radius: 50%!important;
  max-width: 30%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.colorGrey {
  color: Tomato;
}

.colorGrey:hover {
  color: #FF8A65;
}

.putThisInTheMiddle {
  margin-left: auto;
  margin-right: auto;
}

#particles-js {
  
}
